@{
    ViewBag.Title = "دمیج";
}

<h2>دمیج</h2>

<form>
    <div class="form-horizontal">
        <div class="form-group">
            @Html.Label("قدرت", new { @class = "control-label  col-md-2" })
            <div class="col-md-10" style="max-width: 200px;" dir="ltr">
                @Html.TextBox("Strenght", 0, new { @*type = "number",*@ min = "0", @class = "form-control col-md-2" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("درجه", new { @class = "control-label  col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Rank", (IEnumerable<SelectListItem>)ViewBag.Ranks, new { @class = "form-control col-md-3", style = "direction:ltr" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("کیفیت اصلحه", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default active">
                        <input type="radio" name="WeaponType" id="OptionWeapon-0" value="0" autocomplete="off" checked />هیچکدام
                    </label>
                    <label class="btn btn-default ">
                        <input type="radio" name="WeaponType" id="OptionWeapon-1" value="1" autocomplete="off" />1
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="WeaponType" id="OptionWeapon-2" value="2" autocomplete="off" />2
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="WeaponType" id="OptionWeapon-3" value="3" autocomplete="off" />3
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="WeaponType" id="OptionWeapon-4" value="4" autocomplete="off" />4
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="WeaponType" id="OptionWeapon-5" value="5" autocomplete="off" />5
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="WeaponType" id="OptionWeapon-6" value="6" autocomplete="off" />6
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="WeaponType" id="OptionWeapon-7" value="7" autocomplete="off" />7
                    </label>
                </div>
            </div>
        </div>
    </div>
</form>

<hr />

<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-primary">
            <div class="panel-heading text-center">
                <h3>دمیج</h3>
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal alert-success">
                    <dt style="width:120px">دمیج</dt>
                    <dd >
                        <span id="DamageValue">0</span> 
                        <img src="~/Files/Images/Images/damage_icon.png" width="20" height="15"/>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        $(function () {
            //محاسبه دمیج
            var CalculateDamage = function (Strenght, RankValue, FirePower) {
                var Damage = 10 * (1 + (Strenght / 400)) * (1 + (RankValue / 5)) * (1 + (FirePower / 100));
                return parseInt(Damage);
            };
            //نمایش دمیج
            var ShowDamage = function () {
                var Strenght = $('#Strenght').val();
                var Rank = parseInt(parseInt($('#Rank').val()) + 1);
                var WeaponType = $('input[name="WeaponType"]:checked').val();
                var FirePower;
                if (WeaponType == 7) {
                    FirePower = 200;
                }
                else {
                    FirePower = WeaponType * 20;
                }
                $('#DamageValue').text(CalculateDamage(Strenght, Rank, FirePower));
            };
            //نمایش نتیجه
            ShowDamage();
            //نمایش دمیج پس از تغییر ورودی ها
            $('input').change(function () {
                ShowDamage();
            });
            $('select').change(function () {
                if ($('input[name="WeaponType"]:checked').val() != undefined) {
                    ShowDamage();
                }
            });
            //$(document).on('change', 'input:radio[id^="OptionWeapon"]', function () {
            //});

        });
    </script>
@*تبدیل تکست باکس به عددی*@
<script src="~/Scripts/Meh/bootstrap.touchspin.js"></script>
<script>
    $(function () {
        $("input[type=text]").TouchSpin({
            //step: 0.01,
            //max: 1000000,
            //decimals: 2
            step: 1,
            max: 1000000,
            decimals: 0
            });
    });
</script>

}
