@{
    ViewBag.Title = "تعداد ضربه";
}

<h2>تعداد ضربه</h2>

<form>
    <div class="form-horizontal">
        <div class="form-group">
            @Html.Label("قدرت", new { @class = "control-label  col-md-2" })
            <div class="col-md-10" style="max-width: 200px;" dir="ltr">
                @Html.TextBox("Strenght", 0, new { type = "text", min = "0", @class = "form-control col-md-2" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("کیفیت اصلحه", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default active">
                        <input type="radio" name="WeaponType" id="OptionWeapon-0" value="0" autocomplete="off" checked />هیچکدام
                    </label>
                    <label class="btn btn-default ">
                        <input type="radio" name="WeaponType" id="OptionWeapon-1" value="1" autocomplete="off" />1
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="WeaponType" id="OptionWeapon-2" value="2" autocomplete="off" />2
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="WeaponType" id="OptionWeapon-3" value="3" autocomplete="off" />3
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="WeaponType" id="OptionWeapon-4" value="4" autocomplete="off" />4
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="WeaponType" id="OptionWeapon-5" value="5" autocomplete="off" />5
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="WeaponType" id="OptionWeapon-6" value="6" autocomplete="off" />6
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="WeaponType" id="OptionWeapon-7" value="7" autocomplete="off" />7
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.Label("قدرت حریف", new { @class = "control-label  col-md-2" })
            <div class="col-md-10" style="max-width: 200px;" dir="ltr">
                @Html.TextBox("EnemyStrenght", 0, new { type = "text", min = "0", @class = "form-control col-md-2" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("کیفیت اصلحه حریف", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default active">
                        <input type="radio" name="WeaponTypeEnemy" id="OptionEnemyWeapon-0" value="0" autocomplete="off" checked />هیچکدام
                    </label>
                    <label class="btn btn-default ">
                        <input type="radio" name="WeaponTypeEnemy" id="OptionEnemyWeapon-1" value="1" autocomplete="off" />1
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="WeaponTypeEnemy" id="OptionEnemyWeapon-2" value="2" autocomplete="off" />2
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="WeaponTypeEnemy" id="OptionEnemyWeapon-3" value="3" autocomplete="off" />3
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="WeaponTypeEnemy" id="OptionEnemyWeapon-4" value="4" autocomplete="off" />4
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="WeaponTypeEnemy" id="OptionEnemyWeapon-5" value="5" autocomplete="off" />5
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="WeaponTypeEnemy" id="OptionEnemyWeapon-6" value="6" autocomplete="off" />6
                    </label>
                    <label class="btn btn-default">
                        <input type="radio" name="WeaponTypeEnemy" id="OptionEnemyWeapon-7" value="7" autocomplete="off" />7
                    </label>
                </div>
            </div>
        </div>
    </div>
</form>

<hr />

<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-primary">
            <div class="panel-heading text-center">
                <h3>تعداد ضربه</h3>
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal alert-success">
                    <dt>تعداد ضربه</dt>
                    <dd id="HitNumber">0</dd>
                </dl>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        $(function () {
            //محاسبه دمیج
            var CalculateHitNumber = function (Strenght, FirePower, EnemyStrenght, EnemyFirePower) {
                var HitNumber = (60 + ((Strenght - EnemyStrenght) / 10)) * (1 + (FirePower - EnemyFirePower) / 400) / 2;
                return parseInt(HitNumber);
            };
            //نمایش دمیج
            var ShowHitNumber = function () {
                var Strenght = $('#Strenght').val();
                var EnemyStrenght = $('#EnemyStrenght').val();
                var WeaponType = $('input[name="WeaponType"]:checked').val();
                var WeaponTypeEnemy = $('input[name="WeaponTypeEnemy"]:checked').val();
                var FirePower, EnemyFirePower;
                if (WeaponType == 7) {
                    FirePower = 200;
                }
                else {
                    FirePower = WeaponType * 20;
                }
                if (WeaponTypeEnemy == 7) {
                    EnemyFirePower = 200;
                }
                else {
                    EnemyFirePower = WeaponTypeEnemy * 20;
                }
                $('#HitNumber').text(CalculateHitNumber(Strenght, FirePower, EnemyStrenght, EnemyFirePower));
            };
            //نمایش نتیجه
            ShowHitNumber();
            //نمایش دمیج پس از تغییر ورودی ها
            $('input').change(function () {
                ShowHitNumber();
            });
            //$('select').change(function () {
            //    if ($('input[name="WeaponType"]:checked').val() != undefined) {
            //        ShowHitNumber();
            //    }
            //});
            //$(document).on('change', 'input:radio[id^="OptionWeapon"]', function () {
            //});

        });
    </script>
    @*تبدیل تکست باکس به عددی*@
    <script src="~/Scripts/Meh/bootstrap.touchspin.js"></script>
    <script>
        $(function () {
            $("input[type=text]").TouchSpin({
                max: 10000000,
            });
        });
    </script>
}